{{ define "head" }}
<link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>
<link rel="stylesheet" href='{{ "css/sharingbuttons.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="post">
  <h1>{{ .Title }}</h1>

  <article class="content">
    {{ .Content }}
  </article>

  {{ if .Params.tags }}
  <div>
    {{ range .Params.tags }}
    <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}
</main>
{{ end }}
