{{ define "head" }}
  {{ with resources.Get "styles/posts/single.sass" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
  {{ end }}
{{ end }}

{{ define "main" }}
<section>
  <article>
    <h1>{{ .Title }}</h1>

    {{ partial "post-meta.html" . }}
    {{ partial "post-tags.html" . }}

    {{ .Content }}
  </article>

  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}
</s>
{{ end }}
