{{ define "head" }}
  {{ with resources.Get "styles/index.sass" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
  {{ end }}
{{ end }}

{{ define "main" }}
<header>
  <a rel="home" target="_self" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

  <div class="links">
    <a rel="about" href='{{ ref . "about" }}'>About</a>
  </div>
</header>
<section>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "posts") }}

  {{ range $i, $v := $paginator.Pages }}
  {{ if $i }}
  <hr />
  {{ end }}
  <div class="post">
    <div class="meta">
      {{ $timeUnit := "mins" }}
      {{ if le $v.ReadingTime 1 }}
      {{ $timeUnit = "min" }}
      {{ end }}
      <time class="publish-date">{{ $v.PublishDate.Format "2006/01/02" }}</time>
      <span class="vertical-bar">&verbar;</span>
      <span class="reading-time">{{ $v.ReadingTime }} {{ $timeUnit }} read</span>
    </div>

    {{ if ne $v.Params.tags nil }}
    <div class="tags">
      {{ range $v.Params.tags }}
      <a class="item" href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}

    <h2 class="title">
      <a class="link" href="{{ $v.Permalink }}">{{ $v.Title }}</a>
    </h2>

    <div class="summary">
      {{ $v.Summary }}
    </div>

    <a class="read-link" href="{{ $v.Permalink }}">Read</a>
  </div>
  {{ end }}

  {{ if $paginator.HasPrev | or $paginator.HasNext }}
  <div class="paginator">
    {{ if $paginator.HasPrev }}
    <a class="link" href="{{ $paginator.Prev.URL }}">← prev</a>
    {{ else }}
    <a></a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a class="link" href="{{ $paginator.Next.URL }}">next →</a>
    {{ else }}
    <a></a>
    {{ end }}
  </div>
  {{ end }}
</section>
{{ end }}
